
/*body { 
    font-family: Georgia; 
    color:#444;; 
}*/

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.jumbotron{
    margin: 0px auto;
    padding: 70px 30px;
    background:#825cc4;
    color: floralwhite;
}

.jumbo{
    width:80.2%;
}



